.each-tutorial-section {
  .each-tutorial-body {
    //transition: .4s ease;
    //max-height: 0;
    overflow: hidden;
  }
}
i{
  transition: .2s ease ;

}

.tutorial-open {
  .each-tutorial-body {
    //max-height: 100vh;
  }
  i.angle{
    transform: rotate(180deg);
  }
}


