.main-component-container {
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 50px);

  &::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar-thumb {
    z-index: -1;
  }
}

.urls-container {
  background-color: #fff;
}

.inner-container {
  background-color: #fff;
}

.link-label {
  color: green;
  text-align: right;
}

.user-info-label-holder {
  font-family: IranSans, sans-serif;
  color: #3f3f3f;
}

.user-info-edit-input-container {
  font-family: IranSans, sans-serif;
  margin-top: 20px;
}

.user-info-edit-input-container {
  .DatePicker {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  input {
    transition: .4s ease;
    border: solid 2px #bdbdbd;
    border-radius: 2px;
    outline: none;
    text-align: right;
    padding: 5px 5px;
    direction: rtl;
    width: 100%;

    &:focus {
      border: solid 2px #77b6f1;
    }
  }
}

.user-info-edit-input {
  transition: .4s ease;
  border: solid 2px #bdbdbd;
  border-radius: 5px;
  outline: none;
  text-align: right;
  padding: 5px 5px;
  direction: rtl;

  &:focus {
    border: solid 2px #77b6f1;
  }
}

.user-info-edit-label {
  white-space: nowrap;
  font-size: 0.9rem;
  margin: 0;
  padding: 8px 0 0 0;
  margin-left: 2rem;
  width: 50px;

}

.url-box {
  display: flex;
  flex-flow: row-reverse;
  border: dashed 2px green;
}

.url-link {
  transition: .3s ease;
  border: 2px #b9b9b9 solid;
  padding: 10px 5px 5px 5px;
  border-radius: 5px;
  margin: 20px 10px;
  width: 70%;
  text-align: center;
  outline: none;
  font-family: IranSans, serif;
  line-height: 1.5rem;

  &::selection {
    background-color: #189ca6;
    color: white;
  }

  &:focus {
    border: 2px #96b5d7 solid;
  }
}

.costumers-table {

  tr.customers-table-head {
    border-bottom: #dadada 2px solid;
    margin-bottom: 10px;
    height: 25px;
  }

  td {
    font-size: 0.9rem;
    text-align: center;
    font-family: IranSans;
  }
}

@media all and (max-width: 500px) {
  .url-box {
    border: dashed 2px green;
    flex-flow: column;
    align-items: center;
  }
  .url-link {
    width: 95%;
  }
}
.Toastify__toast-body{
  div{
    font-family: IranSans,Serif;
  }
}

body{
  &::-webkit-scrollbar{
    display: none;
  }
}
